@font-face{
  font-family: "milan";
  src: url(milan.ttf) format("truetype");
}

@font-face{
  font-family: "milanbold";
  src: url(milanbold.ttf) format("truetype");
}


img {
  margin: 2px;


}

body {
  background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

.doge {
	object-fit: cover;
	display: inline-block;
	transition: all .6s ease;
	text-align: center;
}


.dogeyy {
	width: auto;
	transition: all .5s ease;
	border:none;
}

.dogeyy:hover {
  transform: scale(1.1);
  transition: all .6s ease;
  box-shadow: 
   4px  4px 15px  ,
  -4px -4px 15px  ;
  color: var(--shadow-darken);
  border: none;
  padding: 0px;
  margin: 20px
}

h1 {
  color: var(--secondary-color);
  font-family: "milan";
  text-align: center;
}

.bottombuttons {
  border: none;
	padding: 6px;
	margin: 10px;
  font-family: "milanbold";
	outline: none;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	color: var(--secondary-color);
	background-color: rgba(0,0,0,0);
	transition: all 100ms ease;
  border-radius: 8px;
  display: inline-block;
  align-content: center;
}

.bottombuttons:hover {
	opacity: 0.6;
}

#ursus {
  display: none;
}

.bottompart {
  display: flex;
  justify-content: center;
}


#datoneicon {
	width:auto;
	height: 16px;
	background-image: var(--lazyafswitch);
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 5px;
	margin-bottom: 2px;
}


