@font-face{
  font-family: "milan";
  src: url(milan.ttf) format("truetype");
}

@font-face{
  font-family: "milanbold";
  src: url(milanbold.ttf) format("truetype");
}


img {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;

}

body {
  background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

.doge {
	object-fit: cover;
	display: inline-block;
	transition: all .6s ease;
	text-align: center;
}


.doge > img {
	width: auto;
	transition: all .5s ease;
}

.doge > img:hover {
  transform: scale(1.1);
  transition: all .6s ease;
  box-shadow: 
   4px  4px 15px  ,
  -4px -4px 15px  ;
  color: var(--shadow-darken);
  margin:    20px;
}

h1 {
  color: var(--secondary-color);
  font-family: "milan";
  text-align: center;
}

.bottombuttons {
  border: none;
	padding: 6px;
	margin: 10px;
  font-family: "milanbold";
	outline: none;
	font-size: 12px;
	cursor: pointer;
	color: var(--primary-color);
	background-color: var(--secondary-color);
	transition: all 100ms ease;
  border-radius: 8px;
}

.bottombuttons:hover {
	opacity: 0.6;
}

#ursus {
  display: none;
}

.bottompart {
  display: flex;
  align-content: center;
  justify-content: center;
}
