/* background to put when backdrop-filter is not present
url("marble_blur.jpeg") 0 / cover fixed !important
*/
body::before {
	content: url("marble_blur.jpeg") url("marble.jpeg") url("cursor/aero_nesw.png") url("cursor/aero_nwse.png") url("cursor/aero_nwse.png") url("cursor/aero_nesw.png")
		url("cursor/aero_ew.png") url("cursor/aero_ew.png") url("cursor/aero_ns.png") url("cursor/aero_ns.png") url("cursor/aero_busy/1.png") url("cursor/aero_busy/2.png")
		url("cursor/aero_busy/3.png") url("cursor/aero_busy/4.png") url("cursor/aero_busy/5.png") url("cursor/aero_busy/6.png") url("cursor/aero_busy/7.png")
		url("cursor/aero_busy/8.png") url("cursor/aero_busy/9.png") url("cursor/aero_busy/10.png") url("cursor/aero_busy/11.png") url("cursor/aero_busy/12.png")
		url("cursor/aero_busy/13.png") url("cursor/aero_busy/14.png") url("cursor/aero_busy/15.png") url("cursor/aero_busy/16.png") url("cursor/aero_busy/17.png")
		url("cursor/aero_busy/18.png") url("cursor/aero_busy/18.png") url("cursor/aero_working/1.png") url("cursor/aero_working/2.png") url("cursor/aero_working/3.png")
		url("cursor/aero_working/4.png") url("cursor/aero_working/5.png") url("cursor/aero_working/6.png") url("cursor/aero_working/7.png") url("cursor/aero_working/8.png")
		url("cursor/aero_working/9.png") url("cursor/aero_working/10.png") url("cursor/aero_working/11.png") url("cursor/aero_working/12.png") url("cursor/aero_working/13.png")
		url("cursor/aero_working/14.png") url("cursor/aero_working/15.png") url("cursor/aero_working/16.png") url("cursor/aero_working/17.png") url("cursor/aero_working/18.png")
		url("cursor/aero_working/18.png") url(cursor/aero_arrow.png) url(cursor/aero_select.png) url(vscode_iframe/mini.png) url(vscode_iframe/res.png) url(vscode_iframe/max.png)
		url(vscode_iframe/close.png) url(vscode_iframe/mini_hovered.png) url(vscode_iframe/res_hovered.png) url(vscode_iframe/max_hovered.png) url(vscode_iframe/close_hovered.png)
		url(vscode_iframe/vscode\ icon\ for\ iframe.png) url(start.png) url(start-hovered.png) url("program_hover.png") url(no_text_better_.png) url("glass.png") url("sprite.png")
		url("./volume/0.ico") url("./volume/1.ico") url("./volume/2.ico") url("./volume/3.ico") url("./volume/mute.ico") url("./battery/battery.png") url("./battery/charging_.png")
		url("network/wifi-0.ico") url("network/wifi-1.ico") url("network/lan-0.ico") url("network/lan-1.ico") url("photo_viewer/buttons.png") url("photo_viewer/buttons_focus.png")
		url("photo_viewer/buttons_click.png") url("photo_viewer/buttons_disabled.png") url("aero_peek_sprite.png") url("shutdown/shutdown.png") url("shutdown/shutdown_clicked.png")
		url("shutdown/shutdown_hover.png") !important;
}

body {
	background: url("marble.jpeg") 0 / cover fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	perspective: 1000px;
	perspective-origin: center;
}

:root {
	--backdrop: rgba(0, 0, 0, 0) !important;
}

* {
	font-family: Segoe UI, sans-serif !important;
	box-sizing: border-box;
}

.ui-resizable-e,
.ui-resizable-w {
	position: absolute;
	z-index: 90;
	top: 0;
	width: 10px;
	height: 85%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.ui-resizable-s,
.ui-resizable-n {
	position: absolute;
	z-index: 90;
	width: 90%;
	height: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.ui-resizable-se,
.ui-resizable-sw {
	position: absolute;
	height: 5%;
	width: 10px;
	bottom: -5px;
}

.ui-resizable-ne,
.ui-resizable-nw {
	position: absolute;
	width: 5%;
	height: 10px;
	top: -5px;
}

.ui-resizable-ne {
	cursor: url("cursor/aero_nesw.png"), ne-resize;
	right: -5px;
}

.ui-resizable-nw {
	cursor: url("cursor/aero_nwse.png"), nw-resize;
	left: -5px;
}

.ui-resizable-se {
	cursor: url("cursor/aero_nwse.png") 6 6, se-resize;
	right: -5px;
}

.ui-resizable-sw {
	cursor: url("cursor/aero_nesw.png") 5 5, sw-resize;
	left: -5px;
}

.ui-resizable-e {
	cursor: url("cursor/aero_ew.png") 15 0, e-resize;
	right: -5px;
}

.ui-resizable-w {
	cursor: url("cursor/aero_ew.png") 5 0, w-resize;
	left: -5px;
}
.ui-resizable-s {
	cursor: url("cursor/aero_ns.png") 0 15, s-resize;
	bottom: -5px;
}
.ui-resizable-n {
	cursor: url("cursor/aero_ns.png") 0 10, n-resize;
	top: -5px;
}

html,
body {
	cursor: url(cursor/aero_arrow.png), auto;
}

@keyframes cur_busy {
	0% {
		cursor: url("cursor/aero_busy/1.png") 15 15, auto;
	}
	5% {
		cursor: url("cursor/aero_busy/2.png") 15 15, auto;
	}
	11% {
		cursor: url("cursor/aero_busy/3.png") 15 15, auto;
	}
	16% {
		cursor: url("cursor/aero_busy/4.png") 15 15, auto;
	}
	22% {
		cursor: url("cursor/aero_busy/5.png") 15 15, auto;
	}
	27% {
		cursor: url("cursor/aero_busy/6.png") 15 15, auto;
	}
	33% {
		cursor: url("cursor/aero_busy/7.png") 15 15, auto;
	}
	38% {
		cursor: url("cursor/aero_busy/8.png") 15 15, auto;
	}
	44% {
		cursor: url("cursor/aero_busy/9.png") 15 15, auto;
	}
	50% {
		cursor: url("cursor/aero_busy/10.png") 15 15, auto;
	}
	55% {
		cursor: url("cursor/aero_busy/11.png") 15 15, auto;
	}
	61% {
		cursor: url("cursor/aero_busy/12.png") 15 15, auto;
	}
	66% {
		cursor: url("cursor/aero_busy/13.png") 15 15, auto;
	}
	72% {
		cursor: url("cursor/aero_busy/14.png") 15 15, auto;
	}
	77% {
		cursor: url("cursor/aero_busy/15.png") 15 15, auto;
	}
	83% {
		cursor: url("cursor/aero_busy/16.png") 15 15, auto;
	}
	88% {
		cursor: url("cursor/aero_busy/17.png") 15 15, auto;
	}
	94% {
		cursor: url("cursor/aero_busy/18.png") 15 15, auto;
	}
	100% {
		cursor: url("cursor/aero_busy/18.png") 15 15, auto;
	}
}
@keyframes cur_working {
	0% {
		cursor: url("cursor/aero_working/1.png") 0 8, auto;
	}
	5% {
		cursor: url("cursor/aero_working/2.png") 0 8, auto;
	}
	11% {
		cursor: url("cursor/aero_working/3.png") 0 8, auto;
	}
	16% {
		cursor: url("cursor/aero_working/4.png") 0 8, auto;
	}
	22% {
		cursor: url("cursor/aero_working/5.png") 0 8, auto;
	}
	27% {
		cursor: url("cursor/aero_working/6.png") 0 8, auto;
	}
	33% {
		cursor: url("cursor/aero_working/7.png") 0 8, auto;
	}
	38% {
		cursor: url("cursor/aero_working/8.png") 0 8, auto;
	}
	44% {
		cursor: url("cursor/aero_working/9.png") 0 8, auto;
	}
	50% {
		cursor: url("cursor/aero_working/10.png") 0 8, auto;
	}
	55% {
		cursor: url("cursor/aero_working/11.png") 0 8, auto;
	}
	61% {
		cursor: url("cursor/aero_working/12.png") 0 8, auto;
	}
	66% {
		cursor: url("cursor/aero_working/13.png") 0 8, auto;
	}
	72% {
		cursor: url("cursor/aero_working/14.png") 0 8, auto;
	}
	77% {
		cursor: url("cursor/aero_working/15.png") 0 8, auto;
	}
	83% {
		cursor: url("cursor/aero_working/16.png") 0 8, auto;
	}
	88% {
		cursor: url("cursor/aero_working/17.png") 0 8, auto;
	}
	94% {
		cursor: url("cursor/aero_working/18.png") 0 8, auto;
	}
	100% {
		cursor: url("cursor/aero_working/18.png") 0 8, auto;
	}
}

body.cursor-working {
	animation: cur_working 0.9s infinite;
}
body.cursor-busy {
	animation: cur_busy 0.9s infinite;
}

.ui-draggable-dragging,
ul[role],
button,
input[type="range"] {
	cursor: url(cursor/aero_arrow.png), auto !important;
}

input[type="text"] {
	cursor: url(cursor/aero_select.png), auto !important;
}

.glass::before,
.window-body::before,
.glass > .title-bar {
	background: var(--backdrop) !important;
}

.glass.window {
	backdrop-filter: blur(5px) !important;
}

.window.focus {
	box-shadow: 2px 2px 13px 0 rgba(0, 0, 0, 1);
}

.window-body::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 6px;
}

.title-bar ~ .window-body {
	height: calc(100% - 35px);
}

.window-body:not(.title-bar + .window-body):first-child {
	margin: 6px;
	height: calc(100% - 12px);
}

.window[role="dialog"] {
	width: 452px;
	height: auto;
	transform: none !important;
}

.window[role="dialog"] .window-body {
	height: auto !important;
	width: auto !important;
}

.window:not(.sys-win) {
	position: fixed !important;
	animation: openwindow 0.3s ease;
}

.window *,
#task-bar * {
	user-select: none;
}

.window.maximu#vscode {
	top: 0px !important;
	width: 100.2vw !important;
	height: calc(100vh - 38px) !important;
}

.window.maximu {
	border-radius: 0 !important;
	top: -2px !important;
	left: -1px !important;
	width: 100.4vw !important;
	height: calc(100vh - 60px) !important;
}

.window.maximu .window-body {
	margin: 0 !important;
	width: calc(100vw + 2px);
	height: 100%;
	border-bottom: none;
	margin-left: -1px !important;
}

.window.maximu .title-bar {
	border-radius: 0 !important;
	height: 24px;
}

.window#vscode .title-bar {
	height: 30px !important;
	box-sizing: border-box;
	display: grid !important;
	grid-template-columns: 35px auto 138px;
	padding: 0px !important;
	background: rgb(50, 50, 51) !important;
	box-shadow: none !important;
	border-radius: 0px;
}

.window#vscode::before {
	border-radius: 0px !important;
	background: rgb(50, 50, 51) !important;
}

.window#vscode {
	border-radius: 0px !important;
}

.window#vscode iframe {
	width: 100%;
	height: calc(100% - 31px);
	border: none;
}

.window#vscode .title-bar .title-bar-text {
	width: 100% !important;
	text-shadow: none !important;
	color: #cccccc;
	font-size: 12px;
}

.window#vscode .title-bar-controls {
	box-shadow: none !important;
	border: none !important;
	background: none !important;
	margin-top: -2px !important;
	height: 30px;
	border-radius: 0px !important;
	display: grid !important;
	grid-template-columns: 46px 46px 46px;
	grid-gap: 0px;
}

.window#vscode .title-bar-controls button {
	width: 46px !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	border: none !important;
}

.window#vscode .title-bar-controls button::before {
	background: none !important;
}

.window#vscode button[aria-label="Minimize"] {
	background: url(vscode_iframe/mini.png) !important;
}

.window#vscode button[aria-label="Restore"] {
	background: url(vscode_iframe/res.png) !important;
}

.window#vscode button[aria-label="Maximize"] {
	background: url(vscode_iframe/max.png) !important;
}

.window#vscode button[aria-label="Close"] {
	background: url(vscode_iframe/close.png) !important;
}

.window#vscode button[aria-label="Minimize"]:hover {
	background: url(vscode_iframe/mini_hovered.png) !important;
}

.window#vscode button[aria-label="Restore"]:hover {
	background: url(vscode_iframe/res_hovered.png) !important;
}

.window#vscode button[aria-label="Maximize"]:hover {
	background: url(vscode_iframe/max_hovered.png) !important;
}

.window#vscode button[aria-label="Close"]:hover {
	background: url(vscode_iframe/close_hovered.png) !important;
}

.vscode_icon {
	width: 35px;
	height: 30px;
	background: url(vscode_iframe/vscode\ icon\ for\ iframe.png);
}

.window:not(#vscode) .title-bar-controls.notfocused button:not(:hover) {
	background: none;
	border-color: rgb(131, 136, 143) !important;
	box-shadow: none;
}
.window:not(#vscode) .title-bar-controls.notfocused {
	border-color: rgb(131, 136, 143);
	box-shadow: none;
	background: none;
}

#minecraft .title-bar-text,
.iframe-app .title-bar-text,
.favicon .title-bar-text {
	margin-left: 24px;
}

#minecraft iframe,
.iframe-app iframe {
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	margin: -6px;
	border: none;
}

[role="tabpanel"] {
	height: calc(100% - 56px);
	overflow: auto;
}

#task-bar {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	height: 38px;
	border-top: solid 1px rgba(255, 255, 255, 0.5);
	box-shadow: 0 -1px 0 0 #222;
	z-index: 9999;
	backdrop-filter: blur(5px);
}
#task-bar > #blur-overlay {
	position: absolute;
	top: 0;
	right: -150px;
	bottom: -150px;
	left: -150px;
	z-index: 2;
}
#task-bar > #blur-overlay:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(0, 0, 0, 0.5) 10%,
		rgba(0, 0, 0, 0.25) 15%,
		rgba(0, 0, 0, 0.25) 75%,
		rgba(0, 0, 0, 0.6) 85%,
		rgba(0, 0, 0, 0.6) 100%
	);
	content: "";
	z-index: 3;
}
#menu-button {
	position: absolute;
	bottom: -10.3px;
	left: -1.6px;
	display: block;
	width: 58px;
	height: 58px;
	z-index: 3;
	background-image: url(start.png);
	background-size: 100%;
}

#menu-button::after {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url(start-hovered.png);
	background-size: cover;
	transition: opacity ease 0.5s;
}

#menu-button:hover::after {
	opacity: 1;
}

#pined-items {
	position: absolute;
	top: 0;
	left: 60px;
	bottom: 0;
	display: block;
}

#pined-items > .pined-icon {
	position: relative;
	display: block;
	width: 60px;
	height: 40px;
	background-size: 32px;
	background-repeat: no-repeat;
	background-position: center;
	border: solid 1px transparent;
	border-radius: 2px;
	z-index: 3;
}

#datetime {
	position: absolute;
	top: 2.5px;
	right: 24px;
	z-index: 3;
	text-align: center;
	color: white;
}

#datetime > span {
	display: block;
	margin: 0;
}

#show-desktop {
	width: 15px;
	height: 40px;
	background-image: url("aero_peek_sprite.png");
	background-position-x: 0px;
	right: 0;
	position: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 5;
	bottom: -1px;
}

.revert-button,
#shutdown,
#show-desktop {
	outline: none;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	padding: 0;
	min-width: 0;
	min-height: 0;
}

#show-desktop:hover {
	background-position-x: -15px;
}
#show-desktop:active {
	background-position-x: -30px;
}

@keyframes openwindow {
	from {
		transform: rotateX(-15deg) scale(0.9);
		opacity: 0;
	}
	to {
		transform: rotateX(0deg);
		opacity: 1;
	}
}

@keyframes closewindow {
	from {
		transform: rotateX(0deg);
		opacity: 1;
	}
	to {
		transform: rotateX(-15deg) scale(0.9);
		opacity: 0;
	}
}

.closing {
	animation: closewindow 0.3s cubic-bezier(0.86, 0, 0.07, 1) forwards !important;
}

@keyframes startmenu {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#start_menu {
	width: 400px;
	height: 483px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	left: 0;
	bottom: 39px;
	z-index: 96969;
	display: none;
	animation: startmenu ease 0.2s;
}

#start_avatar {
	width: 46px;
	height: 46px;
	position: absolute;
	top: 6px;
	right: 51px;
	border-radius: 2px;
}

#menu_programs,
#all_apps {
	width: 242px;
	height: 370px;
	position: absolute;
	top: 34px;
	left: 9px;
	padding: 1px;
}

#menu_programs > div {
	display: flex;
	flex-direction: row;
	height: 38px;
	width: 240px;
	user-select: none;
}
#menu_programs > #spacer {
	width: 0px;
	height: 0px;
	margin-bottom: 3px;
}
#menu_programs > div:hover {
	background-image: url("program_hover.png");
}
#menu_programs > div p {
	line-height: 1em;
	margin-left: 3px;
}
#menu_programs > div img {
	width: 32px;
	height: 32px;
	margin: 3px;
}

/* not commiting github suxx sometimes*/

#no_text {
	background-image: url(no_text_better_.png);
	width: 100%;
	height: 100%;
	image-rendering: crisp-edges;
}

#blur_start {
	width: 400px;
	height: 458px;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	border-radius: 6px 6px 0px 0px;
	background: var(--backdrop);
	backdrop-filter: blur(5px);
	z-index: -1;
}

#no_text::before {
	content: "";
	background: var(--backdrop);
	width: 58px;
	height: 25px;
	position: absolute;
	top: 1px;
	z-index: -1;
	right: 45px;
	backdrop-filter: blur(5px);
	border-radius: 11px 11px 0px 0px;
}
.window[id].iframe-app.ui-draggable-dragging .window-body,
.window[id].iframe-app.ui-resizable-resizing .window-body {
	pointer-events: none;
}
#start_input {
	position: absolute;
	bottom: 12px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	width: 190px;
	height: 24px;
	left: 18px;
	font-size: 12px;
}

#start_input:focus {
	outline: none;
}

#start_input:placeholder-shown {
	margin-left: 2px;
	font-style: italic;
}

#aero_snap {
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 6px;
	z-index: -18;
	position: fixed;
	height: calc(100vh - 55px);
	top: 7px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	margin-left: 7px;
	width: calc(100vw - 15px);
	margin-right: 7px;
	transition: all ease 0.4s;
	background: url("glass.png") 0 / cover fixed;
}

@keyframes sprite {
	from {
		background-position: 0px;
	}
	to {
		background-position: -840px;
	}
}

#aero_snap:not([class=""]) + #aero_anim {
	display: block;
}
#aero_snap.snap_left + #aero_anim {
	left: -32.5px !important;
}
#aero_snap.snap_right + #aero_anim {
	right: -32.5px !important;
}
#aero_snap.snap + #aero_anim {
	top: -32.5px !important;
}
#aero_anim {
	display: none;
	position: fixed;
	width: 65px;
	height: 65px;
	background-image: url("sprite.png");
	animation: sprite 0.3s steps(13) forwards;
	z-index: 696969;
}

.snap_left,
.snap_right {
	width: calc(50vw - 7px) !important;
}

.snap_right {
	margin-left: calc(50vw - 2px) !important;
}

.snap {
	width: calc(100vw - 15px) !important;
}

#about .window-body {
	padding: 0 50px;
}

#taskbar-items {
	width: calc(100vw - 210px);
	display: block;
	height: 100%;
	position: absolute;
	left: 59px;
	white-space: nowrap;
	z-index: 3;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: hidden;
	overflow-x: scroll;
	padding-left: 1px;
}
#taskbar-items::-webkit-scrollbar {
	display: none;
}

#tray {
	height: 100%;
	width: 67px;
	right: 85px;
	position: absolute;
	font-size: 0;
	white-space: nowrap;
	text-align: right;
	z-index: 4;
}

#tray > * {
	width: 22px;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: center;
	display: inline-block;
}

#volume_btn._0 {
	background-image: url("./volume/0.ico");
}
#volume_btn._1 {
	background-image: url("./volume/1.ico");
}
#volume_btn._2 {
	background-image: url("./volume/2.ico");
}
#volume_btn._3 {
	background-image: url("./volume/3.ico");
}
#volume_btn {
	background-image: url("./volume/mute.ico");
}

#battery_btn:not(.charging) {
	background-image: url("./battery/battery.png");
	background-position-x: 5px;
}
#battery_btn.charging {
	background-image: url("./battery/charging_.png");
}
#battery_btn {
	--percent: 0%;
	filter: drop-shadow(0 0 1px black);
}
#battery_btn #bar {
	position: relative;
	width: 5px;
	height: 12px;
	bottom: -13px;
	left: 7.5px;
	z-index: -1;
}
#battery_btn.charging #bar {
	left: 6.4px;
}
#battery_btn #bar::before {
	content: "";
	background: white;
	width: 100%;
	height: var(--percent);
	position: absolute;
	bottom: 0;
	left: 0;
}

#internet.wlan0 {
	background-image: url("network/wifi-0.ico");
}
#internet.wlan1 {
	background-image: url("network/wifi-1.ico");
}
#internet.lan0 {
	background-image: url("network/lan-0.ico");
}
#internet.lan1 {
	background-image: url("network/lan-1.ico");
}
#taskbar-items > div {
	width: 56px;
	background: center no-repeat;
	background-size: 30px;
	margin-right: 2px;
	position: relative;
	color: #fff;
	height: 100%;
	display: inline-block;
}

#taskbar-items > div.open:before {
	opacity: 1;
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 50%), 0 0 0 1px rgb(0 0 0 / 50%);
	background: linear-gradient(155deg, hsla(0, 0%, 100%, 0.7), transparent 40%);
}

#taskbar-items > div:after,
#taskbar-items > div:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: "";
	opacity: 0;
	transition: opacity 0.2s ease;
}
#taskbar-items > div:not(.open):hover:after {
	opacity: 1;
	background: radial-gradient(circle at 50% 100%, hsla(0, 0%, 100%, 0.8), transparent 20%);
}

#taskbar-items > div:after {
	z-index: -1;
}

#taskbar-items > div.open.active:after,
#taskbar-items > div.open:hover:after {
	opacity: 1;
	background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5) 10%, hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 0.6) 80%);
}

#context_menu {
	display: none;
	position: fixed;
}

.ultra-clear .window-body {
	border: none;
	background-color: transparent;
	box-shadow: none;
}

#photo_viewer {
	text-align: center;
}

#photo_viewer .window-body {
	padding: 0;
	background-color: #e0e4ec;
	height: calc(100% - 93px);
	margin-bottom: 0;
	text-align: left !important;
}

#photo_viewer #images-container {
	background-color: #e0e4ec;
	height: calc(100% - 30px);
}

#images {
	display: grid;
	scrollbar-width: none;
	overflow: scroll;
	height: 100%;
}
#images::-webkit-scrollbar {
	display: none;
}

#images-container img {
	margin: auto;
	image-rendering: pixelated;
	transform-origin: top left;
}

#images img.rotate90 {
	transform: rotate(90deg) translateY(-100%);
}
#images img.rotate180 {
	transform: rotate(180deg) translate(-100%, -100%);
}
#images img.rotate270 {
	transform: rotate(270deg) translateX(-100%);
}

#photo_viewer > .footer {
	height: 58px;
	background-repeat: no-repeat;
	width: 410px;
	margin-top: 2px;
	display: inline-flex;
	flex-direction: row;
	position: relative;
}
#photo_viewer::before {
	left: 0;
}
#photo_viewer.window.maximu {
	height: calc(100vh - 36px) !important;
}
#photo_viewer [role="menubar"].can-hover {
	margin: 1px;
}

.footer * {
	background-image: url("photo_viewer/buttons.png");
	height: 100%;
}
.footer *:not([disabled]):hover {
	background-image: url("photo_viewer/buttons_focus.png");
}
.footer *:not([disabled])[clicked] {
	background-image: url("photo_viewer/buttons_click.png");
}
.footer *[disabled] {
	background-image: url("photo_viewer/buttons_disabled.png");
}
.footer #spacer1 {
	width: 28px;
}
.footer #zoom {
	width: 42px;
	background-position: -28px;
}
.footer #spacer2 {
	width: 15px;
	background-position: -70px;
}
.footer #back {
	width: 32px;
	background-position: -85px;
}
.footer #spacer3 {
	width: 15px;
	background-position: -117px;
}
.footer #goback {
	width: 51px;
	background-position: -132px;
}
.footer #slide {
	width: 43px;
	background-position: -183px;
}
.footer #goforward {
	width: 53px;
	background-position: -226px;
}
.footer #spacer4 {
	width: 10px;
	background-position: -279px;
}
.footer #rotate1 {
	width: 30px;
	background-position: -289px;
}
.footer #rotate2 {
	width: 32px;
	background-position: -319px;
}
.footer #spacer5 {
	width: 17px;
	background-position: -351px;
}
.footer #del {
	width: 42px;
	background-position: -368px;
}

#volume-bar {
	position: relative;
	height: 115px;
	width: 3px;
	top: 63px;
	left: 18px;
	white-space: nowrap;
	--wave: 0;
}
#volume-bar .bar {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
}
#volume-bar #bar1 {
	color: rgb(51, 194, 51);
	z-index: 1;
}
#volume-bar #bar2 {
	color: rgb(195, 197, 197);
}
#volume-bar .bar > * {
	background: currentColor;
	width: 100%;
	height: var(--wave);
	position: absolute;
	bottom: 0;
	transition: height linear 0.07s;
}

#volume_slider input {
	width: 122px;
}
#volume_slider input::-moz-range-track,
#volume_slider input::-webkit-slider-runnable-track,
#volume_slider input::-webkit-scrollbar-corner {
	-webkit-appearance: none;
	background: transparent;
	box-shadow: none;
}
#volume_slider input::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	width: 20px;
	height: 0px;
	background: rgb(231, 234, 234);
}

#volume_slider {
	position: absolute;
	top: 56px;
	left: 23px;
}

#shutdown {
	color: white;
	background: url("shutdown/shutdown.png");
	width: 100px;
	height: 24px;
	position: absolute;
	bottom: 13px;
	right: 43px;
	text-align: left;
	padding-left: 8px;
}
#shutdown::after {
	content: "";
	background: url(shutdown/chev.png);
	width: 7px;
	height: 9px;
	display: block;
	position: absolute;
	right: 7px;
	top: 8px;
}
#shutdown:hover {
	background: url("shutdown/shutdown_hover.png");
}
#shutdown:active {
	background: url("shutdown/shutdown_clicked.png");
}
#shutdown:active::after {
	opacity: 0.3;
}

#menu_menu {
	position: absolute;
	width: 146px;
	/*  n i c e  */
	top: 69px;
	right: -1.5px;
}
#menu_menu > div {
	color: white;
	width: 140px;
	height: 29px;
	line-height: 28px;
	padding-left: 8px;
}
#menu_menu > div:hover {
	background-image: url("start_focus_glass.png");
}
#menu_menu > #spacer {
	margin: 8px 0;
	width: 0;
	height: 0;
}
