<div data-icon="css/mc_icon.png" class="window iframe-app glass" id="minecraft" style="width: 674px; height: 474px">
	<div class="title-bar">
		<img src="css/vscode_iframe/crafting.png" style="width: 18px; height: 18px; position: absolute; left: 6px" />
		<div class="title-bar-text">Minecraft</div>
		<div class="title-bar-controls">
			<button aria-label="Minimize"></button> <button onclick="maxsBtn(this)" aria-label="Maximize"></button> <button aria-label="Close" onclick="closBtn(this)"></button>
		</div>
	</div>
	<div class="window-body"><iframe src="https://classic.minecraft.net"></iframe></div>
</div>
